$main-bg: #FAFAFA;
$main-text: #fefefe;
$main-text-hover: rgb(210, 210, 210);
$secondary-text: #272b2b;
$secondary-text-hover: #2f3131;
$box-shadow: 0 0 22px #0002;

body {
  background-color: $main-bg;

  &::-webkit-scrollbar-track{
    box-shadow: none;
    background-color: #0000;
  }

  &::-webkit-scrollbar{
    width: 8px;
    background-color: $main-bg;
  }

  &::-webkit-scrollbar-thumb{
    background-color: #0001;
    border-radius: 10px;
  }
}

.app-container{
  display: flex;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

// navigation

.navigation{
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50px;
  z-index: 50;

  a {
    font-size: 16px;
    text-decoration: none;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-text;

    &:hover{
      color: $main-text-hover;
    }
  }

  &.dark{
    a {
      color: $secondary-text;
  
      &:hover{
        color: $secondary-text-hover;
      }
    }
  }

  .navigation-header{
    font-family: 'Spectral';
    font-size: 28px;
    font-weight: 300;
  }
}

// landing

.landing-image{
  background-image: url(../images/landing-header.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 90%;
  flex: 1;
  margin-top: -90px;
  margin-bottom: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: $box-shadow;

  p {
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    margin: 0 5px;
    color: $main-text;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(100deg, #0005, rgba(21, 94, 100, 0.397))
  }
}

// work

.work-container{
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.work-header-image{
  width: 90%;
  height: 135px;
  margin: 25px 0;
  margin-top: -90px;
  background-image: url("../images/work-header.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $box-shadow;

  span {
    font-weight: bold;
    font-size: 72px;
    text-transform: uppercase;
    margin: 0;
    mix-blend-mode: hard-light;
    color: rgba(255, 255, 255, 0.51);
    z-index: 2;
    user-select: none;
  }

  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(100deg, #0005, rgba(9, 147, 160, 0.397));
  }
}

.work-projects-title{
  color: #0002;
  font-size: 22px;
  align-self: flex-start;
  margin-top: 5px;
  margin-bottom: 0;
}

.work-projects{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(90% + 32px);
  padding: 15px;
}

.work-project-item{
  display: flex;
  flex-direction: column;
  min-width: calc(30% - 32px);
  flex: 1;
  margin: 16px;
  margin-top: 0;
  text-decoration: none;
  color: $secondary-text;

  .work-project-title {
    margin-top: 4px;
    padding: 4px;
    color: $secondary-text;
    z-index: 2;
    transition: opacity .3s;
    font-size: 20px;
  }

  div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 40vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: $box-shadow;

    .work-project-description{
      margin: 0;
      padding: 4px;
      color: $secondary-text;
      z-index: 2;
      transition: opacity .3s;
      text-align: center;
      opacity: 0;
      font-size: 18px;
      padding: 10px;
      margin: 0;
      text-align: center;
    }

    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background-color .3s;
    }

    &:hover{
      &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $main-bg;
      }

      span {
        opacity: 1;
      }

      & ~ .work-project-title{
        opacity: 0;
      }
    }
  }
}

// project item page

.project-page{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.project-header-image{
  width: 90%;
  height: calc(100vh - 350px);
  margin: 25px 0;
  margin-top: -90px;
  background-image: url("../images/work-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $box-shadow;

  span {
    font-weight: bold;
    font-size: 72px;
    text-transform: uppercase;
    margin: 0;
    color: $main-text;
    text-shadow: $box-shadow;
    z-index: 2;
    user-select: none;
  }

  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(100deg, #0005, rgba(8, 107, 116, 0.45));
  }
}

.project-body-container{
  width: 700px;
  max-width: 90%;
  padding-bottom: 250px;
}

.project-body-links{
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    text-transform: uppercase;
  }
}

.project-body-segment{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;

  img {
    width: 100%;
    min-width: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: $box-shadow;
  }

  small {
    margin-top: 5px;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
    color: #0005;
  }

  p {
    font-size: 18px;
  }
}

// contact

.contact-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  height: 50vh;
}

.contact-location{
  display: flex;
  flex-direction: column;
  color: $secondary-text;
  margin: 0 30px;

  h2{
    font-family: 'Spectral';
    font-size: 62px;
    margin: 0;
  }

  p{
    font-size: 18px;
    margin: 0;
  }
}

.contact-information{
  display: flex;
  flex-direction: column;

  & > a {
    font-size: 26px;
    padding: 10px 0;
    text-decoration: none;
    color: $secondary-text;

    &:hover{
      color: $secondary-text-hover
    }
  }
}

.contact-social{
  display: flex;

  a {
    font-size: 26px;
    text-decoration: none;
    color: $secondary-text;

    &:hover{
      color: $secondary-text-hover
    }

    &::before{
      margin: 10px 10px 0 0;
    }
  }
}

// Responsive

@media screen and (max-width: 830px){

  .navigation{

    a{

    }

    .navigation-header{
      font-size: 22px;
    }
  }

  .landing-image{
    p {
      font-size: 48px;
    }
  }

  .work-project-item{
    min-width: calc(50% - 32px)
  }
}

@media screen and (max-width: 550px){

  .navigation{

    margin-top: 15px;
    margin-bottom: 15px;

    a{
      color: $secondary-text;
    }
  }

  .landing-image{

    margin-top: 0;

    p {
      font-size: 36px;
      display: flex;
      flex-direction: column;
    }
  }

  .work-header-image{
    display: none;
  }

  .work-project-item{
    min-width: calc(100% - 32px)
  }

  .project-header-image {

    margin-top: 0;

    span {
      font-size: 36px;
    }
  }

}